<div class="tab">
    <mat-tab-group (selectChange)="switch($event)">
      <mat-tab label="CÔNG VIỆC"></mat-tab>
      <mat-tab label="NHẬT KÝ"></mat-tab>
      <mat-tab label="CHI TIÊU"></mat-tab>
    </mat-tab-group>
  </div>
<div class="header">
  <div class="search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input type="search" placeholder="Tìm kiếm">
  </div>
  <i class="fa fa-bell-o" aria-hidden="true"></i>
  <div class="avatar">
    <img src="assets/user.png" alt="">
  </div>
</div>
