@import '../../themes/color';
:host {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding: 10px 20px;
}
.header .search {
    position: relative;
}
.header .search > .fa {
    left: 8px; 
    top: 8px;
    position: absolute;
}
.header input {
    height: 32px;
    border-radius: 16px;
    border: 1px solid gray; 
    padding: 0 24px;
    padding-right:8px;
    align-items: center;
    margin-right: 15px;
    font-size: smaller;
    width: 250px;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
}
input[type="search"]:focus {
    border-color: $primary-color;
    outline: none;
    width: 450px;
}

.header > .fa {
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
    padding-top: 4px;
}

.header .avatar {
    align-items: center;
}
.header .avatar img {
    height: 32px;
}
