<div class="container">
  <div class="wrapper">
      <div class="form">
          <h1>Welcome!</h1>
          <form action="">
              <input type="text" placeholder="Tên người dùng">
              <input type="password" placeholder="Mật khẩu">
              <button class="btn-signup">ĐĂNG NHẬP</button>
              <a href="#">Quên mật khẩu?</a>
              <div class="login">
                  <ul>
                      <li><a href="#"><img src="assets/facebook (1).png" /></a></li>
                      <li><a href="#"><img src="assets/google-plus.png" /></a></li>
                      <li><a href="#"><img src="assets/twitter (1).png" /></a></li>
                  </ul>
              </div>
          </form>
      </div>
  </div>
</div>