:host {
    display: flex;
    height: 100vh;
    background: linear-gradient(#CF6477, #03033D);
}

.container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper {
    width: 60%;
    margin: 90px auto;
}

.form {
    padding: 10px;
    width: 50%;
    margin: 35px auto;
}

.form h1 {
    text-align: center;
}

.form form {
    display: flex;
    flex-direction: column;
    font-size: smaller;
}

input[type="text"],
input[type="password"] {
    padding: 9px;
    margin: 4px 0;
    font-size: smaller;
}

button {
    padding: 8px;
    margin: 4px 0;
    font-size: 15px;
    border: 0;
    color: white;
}

.btn-signup {
    background: #0061ff;
}

a {
    text-align: center;
    color: #A19F9F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.login img {
    height: 30px;
    width: 30px;
}

.login ul {
    margin-left: 18%;
}

.login>ul>li {
    display: inline;
    padding: 15px;
    position: relative;
    text-decoration: none;
}

.login>ul>li>a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.78);
}