<div>
  <div class="logo">
    <img src="assets/logo-black.png" alt="">
    <h3>Do-Notes</h3>
  </div>
  <div class="menu">
    <ul>
      <li class="active">Quản Lý Tài Khoản</li>
      <li>Cài Đặt</li>
      <li>Trợ Giúp</li>
    </ul>
  </div>
</div>
