@import '../../themes/color';

:host {
    background: #F7F9FA;
    padding-left: 40px;
    
}
.logo {
    padding: 40px 0 10px 0;
}

.logo img{
    height: 50px;
}

.logo h3 {
    color: $primary-color;
    font-size: medium;
    margin-top: 5px;
    margin-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
    cursor: pointer;
}

ul li:active {
    color: $primary-color;
}
