:host {
    display: flex;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
}
router-outlet {
    padding-top: 1  0px;
}
app-side-bar-menu {
    min-width: 220px;
}